.NavBar {
  background-color: #002356;
  text-align: center;
  /* color: #eee; */
  /* width: 350px; */
  /* border: 1px solid black; */
  border-radius: 50px;
}
.NavBar .UL {

  padding: 5px;
}
.all {
  color: white;
}

.icon {
  width: fit-content;
  /* color: white; */
}
.NavBar .UL i .fa {
  color: white;
  background-color: white;
}
